<div class="edit info" id="item_<%= j %>">
	<input 	class="edit label"
			placeholder="Label"
			value="<%= item.label %>"/>
	<input 	class="edit content"
			placeholder="Content"
			value="<%= item.content %>"/>
</div>